.table > ul > li{
  min-width: 740px;
  position: relative;
  height: 80px;
  margin-bottom: 10px;
  background-color: #FBFBFB;
  display: flex;
  color: black;
}

.table__time{
  color: gray;
  margin: auto;
  margin-left: 15px;
  margin-right: 0px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}

.versus{
  margin: auto
}

.table__translation{
  width: 105px;
  margin: auto;
  margin-right: 15px;
  margin-left: 0px;
  color: gray;
  font-size: 14px;
}

.table__translation_able > a{
  cursor: pointer;
  color: #6FCF97;
}

.versus__team-first, .versus__team{
  width: 15vw;
  min-width: 160px;
  display: inline-block;
  vertical-align:middle;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}

.versus__team-first{
  text-align: end;
}

.versus__team-img{
  width: 50px;
  height: 50px;
}

.versus__score{
  margin: 30px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
}

.search{
  color: green;
  position: relative; 
}

.search__filter{
  display: flex;
}

.search > .iconify{
  position: absolute;
  font-size: 16px;
  top: 107px;
  left: 17px;
  color: gray;
}

.search__input{
  height: 51px;
  width: 360px;
  margin-top: 90px;
  padding-left: 44px;

}

.search__input:focus{
  outline:none;
  border: 1px #6FCF97 solid;
}

.search__report_visable, .search__report_unvisable{
  font-size: 14;
  font-family: 'PT Sans', sans-serif;
  color: gray;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search__report_unvisable{
  opacity: 0;
}

.search__refresh{
  margin-top: auto;
  margin-left: auto;
  width: 51px;
  height: 51px;
  background-color: #6FCF97;
  color: white;
}

.not-found{
  width: 100%;
  text-align: center;
}

.not-found__message{
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;      //to avoid text cutting
}

.not-found__picture > .iconify{
  font-size: 72px;
  font-weight: 100;
  margin-bottom: 19px;
}

.loading__text{
  font-size: 24px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  margin-top: 14.5px;
  margin-bottom: 20px;      //to avoid text cutting
}

.loading{
  width: 100%;
  text-align: center;
}