.not-found{
  width: 100%;
  text-align: center;

  &__message{
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;      //to avoid text cutting
  }

  .iconify{
    font-size: 72px;
    font-weight: 100;
    margin-bottom: 19px;
  }
  
}
