.search {
  margin-top: 90px;
  margin-bottom: 30px;
  position: relative; 
  font-size: rem(14px);
  color: gray;
  min-width: 740px;

  &__filter {
    display: flex;
  }

  &__header{
    min-width: 740px;
    position: relative;
    height: 80px;
    margin-bottom: 10px;
    background-color: $bg-white;
    display: flex;
    color: black;
    font-size: 14px;
  }

//===========================
// TOGGLE LIVE (able-disable)
//===========================

  &__toggle-text_active{
    color: $toggle;
  }

  &__toggle {
    cursor: pointer;
    display: flex;
    margin-top: auto;
    margin-left: 20px;   
    height: 31px;    
    line-height: 31px;    
    position: relative;
    font-size: 14px;
    user-select: none;	
  }
  &__toggle &__toggle-switch {
    position: relative;	
    display: inline-block;
    box-sizing: border-box;			
    width: 57px;	
    height: 31px;
    border-radius: 25%/50%;	
    vertical-align: top;
    background: #eee;
    transition: .2s;
    margin-right: 10px;;
  }

  &__toggle-switch:focus{
    background-color: $toggle;
    opacity: 0.5;
  }

  &__toggle &__toggle-switch:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;	
    display: inline-block;
    width: 25px;	
    height: 25px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    transition: .15s;
  }

  &__toggle &__toggle-switch:focus:before {
    width: 34px;	
  }

  &__toggle input[type=checkbox] {
    display: block;	
    width: 0;
    height: 0;	
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &__toggle input[type=checkbox]:not(:disabled):active + &__toggle-switch:before {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
  }
  &__toggle input[type=checkbox]:checked + &__toggle-switch {
    background: $toggle;
  }
  &__toggle input[type=checkbox]:checked + &__toggle-switch:before {
    transform:translateX(25px);
  }

  &__toggle input[type=checkbox]:checked + &__toggle-switch:focus:before {
    transform:translateX(16px);
  }

  .iconify{
    position: absolute;
    font-size: rem(16px);
    top: 18px;
    left: 17px;
  }

  &__input{
    height: 51px;
    width: 360px;
    padding-left: 44px;

    &:focus{
      outline:none;
      border: 2px rgba(0, 0, 0, 0) solid;
      outline: 1px solid $primary;
      outline-offset: -1px;
    }
  } 
  
  &__report_isHasReports{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  &__refresh{
    margin-top: auto;
    margin-left: auto;
    width: 51px;
    height: 51px;
    background-color: $primary;
    color: white;

    .iconify{
      position: relative;
      font-size: rem(16px);
      top: 0px;
      left: 0px;
    }

  }
}






