.search{
  color: green;
  position: relative; 
}

.search__filter{
  display: flex;
}

.search > .iconify{
  position: absolute;
  font-size: 16px;
  top: 107px;
  left: 17px;
  color: gray;
}

.search__input{
  height: 51px;
  width: 360px;
  margin-top: 90px;
  padding-left: 44px;

}

.search__input:focus{
  outline:none;
  border: 1px #6FCF97 solid;
}

.search__report{
  height: 56px;
}

.search__report_isHasReports{
  font-size: 14;
  font-family: 'PT Sans', sans-serif;
  color: gray;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search__refresh{
  margin-top: auto;
  margin-left: auto;
  width: 51px;
  height: 51px;
  background-color: #6FCF97;
  color: white;
}
