// FONTS
$userfont: 'PT Sans', sans-serif;


// COLORS
$white: #ffffff;
$bg-white: #FBFBFB;
$primary: #6FCF97;
$grey: #999999;


// BREAKPOINTS
$breakpoints: (
  retina: 2560px,
  xxl: 1920px,
  xl: 1440px,
  lg: 1200px,
  md: 1024px,
  sm: 768px,
  xs: 576px,
  xxs: 320px
);